.swiper-news {
     max-width: 27rem;
     min-width: 20.75rem;
     width: 100%;
     height: 25rem;
}

.swiper-content{
     width: 100%;
     height: 100%;
     background-color: #e3e3e366;
     border-radius: 20px;
}

.swiper-slide{
     border-radius: 20px;
}

.swiper-pagination{
     
}