//! main imports
@import "./functional/nullset";
@import "./veriables/__fonts.scss";
@import "./veriables/__variables.scss";
@import "./functional/_mixins";
@import "./veriables/__colors.scss";
html{
     height: auto;
     scroll-behavior: smooth;
}
body{
     font-size: $fontSize;
     font-family: $font-family-regular;
     min-width: $minWidth;
     display: flex;
     flex-direction: column;
     background: $color-background-main;
     align-items: center;
     min-height: 100vh;
}
main{
     flex-grow: 1;
}

:root{
     font-size: 16px;
}

.content-container{
     max-width: 84rem;
     width: 100%;
     padding: 0 3rem;
     @media #{$ui-tablet} {
          padding: 0 .875rem;
     }
}

//! etc. imports
@import "./ui-components/__header.scss";
@import "./ui-components/__mobile-menu.scss";
@import "./ui-components/_footer.scss";
@import "./ui-components/_banners";
@import "./ui-components/_sliders";
@import "ui.scss";
