
@import "./veriables/__variables.scss";


.ui-content{
     nav{
          // max-width: 100px;
     }
     .content{
          // padding-left: 250px;
     }
     .content-container{
          margin-top: 0 !important;
     }
}

.advantages {
}

.advantages-card {
     background: #055687;
     border-radius: 1.25rem;
     max-width: 438px;
     width: 100%;
     width: 438px;
     height: 260px;
     display: flex;
     flex-direction: row;
     align-items: center;
     color: $color-white;
     overflow: hidden;
     
     // &:hover .advantages-card__img{
     //      // left: -50%;
     //      // top: 20%;
     //      transform: translate(-80%, 12%);
     // }
     // &:hover .advantages-card__text{
     //      opacity: 0;
     //      display: none;
     // }
     // &:hover .advantages-card__sub-text{
     //      opacity: 1;
     //      display: block;
     // }
     &:nth-child(n){
          padding: 1.875rem .8125rem .5625rem 1.875rem;
     }
     &__img{
          position: relative;
          z-index: 2;
          // overflow: hidden;
          display: flex;
          align-items: flex-end;
          height: 100%;
     }
     &:nth-child(1){
          .advantages-card__pic{
               background-image: url('/img/svg/Persona-1.svg');
               width: 221px;
               height: 229px;
          }
     }
     // &:nth-child(3){
     //      outline: 1px solid red;
     //      .advantages-card__pic{
     //           background-image: url('/img/svg/Persona-3.svg');
     //           width: 360px;
     //           height: 219px;
               
     //      }
     // }
     &__pic{
          
          background-repeat: no-repeat;
          background-size: contain;
     }
	&__text {
          position: relative;
          z-index: 2;
     }
     &__sub-text{
          display: none;
          opacity: 0;
          z-index: 4;
          max-width: 232px;
     }
}
.red{
     border: 1px solid red;
}

.breadcrumbs{
     margin-bottom: 1.875rem;
     a{
          color: $color-blue-accent;
          font-size: 1rem;
          line-height: 1.1875rem;
          font-weight: 400;
          &:not(:last-child){
               &::after{
                    content: " /";
               }
          }
          &:last-child{
               color: $color-text-gray;
          }
     }
}

.user-header{
     background-color: rgba(201, 235, 255, 0.6);
     border-bottom: 1px solid rgba(5, 86, 135, 0.2);
     padding: 1rem 3.125rem;
     color: $color-blue-accent;
     span{
          cursor: pointer;
     }
}

.btn-approved{
     padding: 1rem 2rem;
     font-family: $font-family-regular;
     transition: $transition-main-3;
     cursor: pointer;
     text-align: center;
     @media #{$mouse-device} {
          &:not(.btn-approved-checked):hover{
               background-color: $color-blue-accent;
               color: $color-white-main;
          }
     }
}

.btn-approved.btn-approved-checked{
     background-color: $color-bg-gray;
     color: $color-blue-accent;
}

.btn-approved-checked::before{
     content: '\F272';
     font-family: "bootstrap-icons";
     display: inline-block;
     margin-right: 0.25rem;
     font-style: normal;
     text-transform: none;
     line-height: 1;
     vertical-align: -.125em;
     font-weight: 600;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}

.btn-rating{
     background: $color-background-sky-blue;
     padding: .625rem 1rem;
     font-family: $font-family-bold;
     transition: $transition-main-3;
     color: $color-blue-accent;
     cursor: pointer;
     border-radius: 20px;
     @media #{$mouse-device} {
          &:not(.btn-rating-checked):hover{
               background-color: $color-background-blue-tr-2;
          }
     }
}

.btn-rating-checked{
     background-color: $color-background-blue-tr-2;
}

.btn-like, .btn-like-checked, .btn-dislike, .btn-dislike-checked{
     &::after{
          font-family: "bootstrap-icons";
          display: inline-block;
          margin-right: 0.25rem;
          font-style: normal;
          text-transform: none;
          line-height: 1;
          vertical-align: -.125em;
          font-weight: 700;
     }
}

.btn-like{
     &::after{
          content: '\F407';
     }
}

.btn-dislike{
     &::after{
          content: '\F405';
     }
}

.btn-like-checked{
     &::after{
          content: '\F406';
     }
}

.btn-dislike-checked{
     &::after{
          content: '\F404';
     }
}
