.color-background-main{
     color: #FCFCFC;
}
.color-white{
     color: #FFFFFF;
}

.color-blue-accent{
     color: #055687;
}

.color-white-text{
     color: #FEFEFE;
}

.color-blue-black{
     color: #063958;
}

.color-blue-dark{
     color: #041E2F;
}

.color-black{
     color: #000000;
}

.color-background-sky-blue{
     color: #c9ebff99;
}

.color-text-gray{
     color: #737373;
}