/*Nullset*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: gilroy-bold;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.woff) format("woff");
}

@font-face {
  font-family: gilroy-heavy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Heavy"), url(../fonts/Gilroy-Heavy.woff) format("woff");
}

@font-face {
  font-family: gilroy-light;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Light"), url(../fonts/Gilroy-Light.woff) format("woff");
}

@font-face {
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.woff) format("woff");
}

@font-face {
  font-family: gilroy-regular;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"), url(../fonts/Gilroy-Regular.woff) format("woff");
}

.color-background-main {
  color: #FCFCFC;
}

.color-white {
  color: #FFFFFF;
}

.color-blue-accent,
.header__link,
.header__link a,
.header .dropdown-btn span,
.header .dropdown-btn .bi {
  color: #055687;
}

.color-white-text,
.header .dropdown:hover * {
  color: #FEFEFE;
}

.color-blue-black {
  color: #063958;
}

.color-blue-dark {
  color: #041E2F;
}

html {
  height: auto;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Gilroy-Regular", "Arial";
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 17px 0 17px;
  background: #FEFEFE;
}

:root {
  font-size: 16px;
}

.content-container {
  max-width: 84rem;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .dropdown:hover > .dropdown-menu {
  -webkit-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Gilroy-Regular", "Arial";
}

.header .dropdown:hover {
  background: #055687;
}

.header .dropdown {
  border-radius: 25px 25px 0px 0px;
}

.header .dropdown:hover .dropdown-chevron .bi {
  -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important;
}

.header .dropdown-chevron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.header .dropdown-chevron .bi {
  -webkit-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.header .dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.header .dropdown-btn {
  background: transparent;
  border-radius: 25px 25px 0px 0px;
  padding: 0.625rem 1rem;
  text-align: left;
}

.header .dropdown-btn .bi {
  margin-left: 0.75rem;
}

.header .dropdown-btn span {
  font-family: "Gilroy-Regular", "Arial";
}

.header .dropdown-menu {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 0px 30px 30px 30px;
  background: #055687;
  width: 21.25rem;
  border: none;
  padding: 0;
  -webkit-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.header .dropdown-menu a {
  padding: 0.75rem 1rem 0.75rem 1.375rem;
}

.header .dropdown-menu a:nth-child(1) {
  border-radius: 0 30px 0 0;
}

.header .dropdown-menu a:last-child {
  border-radius: 0 0 30px 30px;
}

.header * {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "gilroy-regular";
}

.header__logo {
  min-width: 10rem;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content a .bi {
  font-size: 1.875rem;
  line-height: 1.875rem;
}

.header__icon:nth-child(5) .bi {
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.header__link:not(:first-child) {
  -webkit-transition: all ease-in 0.3s;
  -o-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.header__link,
.header__link a {
  font-family: "Gilroy-Regular", "Arial";
}

.header__link:nth-child(1) {
  margin-left: 1.25rem;
}

.header__link:nth-child(2) {
  margin-left: 70px;
}

.header__link:nth-child(3) {
  margin-left: 70px;
}

.header__link:nth-child(4) {
  margin-left: 55px;
}

.header__link:nth-child(5) {
  margin-left: 50px;
}

.ui-content .content {
  padding-left: 250px;
}

.advantages-card {
  background: #055687;
  border-radius: 1.25rem;
  max-width: 438px;
  width: 100%;
  width: 438px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  overflow: hidden;
}

.advantages-card:nth-child(n) {
  padding: 1.875rem 0.8125rem 0.5625rem 1.875rem;
}

.advantages-card__img {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.advantages-card:nth-child(1) .advantages-card__pic {
  background-image: url("/img/svg/Persona-1.svg");
  width: 221px;
  height: 229px;
}

.advantages-card__pic {
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages-card__text {
  position: relative;
  z-index: 2;
}

.advantages-card__sub-text {
  display: none;
  opacity: 0;
  z-index: 4;
  max-width: 232px;
}

.red {
  border: 1px solid red;
}

/*  COLORS
========================================== */

/*  FONTS
========================================== */

/*  MIXINS
========================================== */

/*  RESET
========================================== */

.overflow {
  overflow: hidden;
}

/*  BURGER
========================================== */

.burger {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  z-index: 10;
}

.burger span {
  position: relative;
  margin-top: 9px;
  margin-bottom: 9px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -1.5px;
}

.burger span,
.burger span::before,
.burger span::after {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #000000;
  outline: 1px solid transparent;
  -webkit-transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, -o-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: background-color, transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.burger span::before,
.burger span::after {
  position: absolute;
  content: "";
}

.burger span::before {
  top: -9px;
}

.burger span::after {
  top: 9px;
}

.burger.clicked span {
  background-color: transparent;
}

.burger.clicked span::before {
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.burger.clicked span::after {
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.burger.clicked span:before,
.burger.clicked span:after {
  background-color: #000000;
}

.burger:hover {
  cursor: pointer;
}

/*  NAV
========================================== */

nav {
  background-color: #FEFEFE;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 19.625rem;
  width: 100%;
  padding: 2.25rem 0.75rem 2.25rem 1.125rem;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

nav.show {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

nav.show ul.main li {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

nav.show ul.main li:nth-child(1) {
  -webkit-transition-delay: 0.15s;
       -o-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

nav.show ul.main li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

nav.show ul.main li:nth-child(3) {
  -webkit-transition-delay: 0.45s;
       -o-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

nav.show ul.main li:nth-child(4) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

nav.show ul.main li:nth-child(5) {
  -webkit-transition-delay: 0.75s;
       -o-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

nav.show ul.main li:nth-child(6) {
  -webkit-transition-delay: 0.9s;
       -o-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

nav.show ul.main li:nth-child(7) {
  -webkit-transition-delay: 1.05s;
       -o-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

nav.show ul.main li:nth-child(8) {
  -webkit-transition-delay: 1.2s;
       -o-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

nav.show ul.main li:nth-child(9) {
  -webkit-transition-delay: 1.35s;
       -o-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

nav ul.main {
  list-style-type: none;
}

nav ul.main li {
  margin-bottom: 20px;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li:last-of-type {
  margin-bottom: 0px;
}

nav ul.main li a {
  color: #041E2F;
  font-family: "Gilroy-Regular", "Arial";
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  letter-spacing: 5px;
  font-weight: 600;
  padding: 10px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul.main li a span {
  color: rgba(40, 40, 40, 0.4392156863);
}

nav ul.main li a:hover {
  color: rgba(40, 40, 40, 0.4392156863);
}

/*  OVERLAY
========================================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(40, 40, 40, 0.4392156863);
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 0.8;
  visibility: visible;
}

@media (min-width: 667px) {
  nav {
    padding: 120px 90px 70px 90px;
  }
}

@media (max-width: 1344px) {
  .header__link:nth-child(2) {
    margin-left: calc(25px + 45 * ((100vw - 320px) / 1024));
  }

  .header__link:nth-child(3) {
    margin-left: calc(25px + 45 * ((100vw - 320px) / 1024));
  }

  .header__link:nth-child(4) {
    margin-left: calc(10px + 45 * ((100vw - 320px) / 1024));
  }

  .header__link:nth-child(5) {
    margin-left: calc(5px + 45 * ((100vw - 320px) / 1024));
  }
}

@media screen and (max-width: 650px) {
  .header__link:not(:nth-child(5)) {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .header .dropdown-btn:hover {
    background: #055687;
  }

  .header .dropdown-menu a:hover {
    background-color: #063958;
  }

  .header__link:hover,
  .header__link:hover a {
    color: #041E2F;
  }
}